@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

.login-container {
    display: flex;
    justify-content: center;
    margin-left: 10%;
    margin-right: 10%;
}
.login {
    display: flex;
    justify-content: right;
}
input {
    width: 125%;
    padding: 8px;
}
.fluff {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 10%;
    margin-left: 10%;
}
.form-group #username-login {
    background-color: #e8e0c9;
}
.form-group {
  font-family: 'Oswald', sans-serif;
}
.form-group #password-login {
    background-color: #e8e0c9;
}
.header {
    font-size: 2rem;
}
.error {
    margin-left: 10%;
}
.submit {
    margin-top: 4%;
}
.submit #submit-button {
    width: 100%;
}